
<li>
  {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}}{{/link-to}}

  {{#if isImageShowing}}
    <p>
      <img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}} width="300px"/>
    </p>
    <p>
      <button {{action 'imageHide'}}>Hide Image</button>
    </p>
    {{else}}
    <p>
      <button {{action 'imageShow'}}>Show Image</button>
    </p>
  {{/if}}
</li>
